# ETL - Processo feito antes de extrair para o Power BI.

## Exploração dos Dados

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.2.2'

In [3]:
df = pd.read_csv('Dataset_Performance_Funcionarios.csv')

In [4]:
df.head()

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Session
0,1,Cory Escobar,48,Female,HR,5641,2015-05-03,2.0,16,Active,New York,Night
1,2,Timothy Sanchez,25,Other,Sales,4249,2020-11-09,2.0,11,Inactive,Los Angeles,Evening
2,3,Chad Nichols,57,Other,Sales,3058,2019-02-12,NaN,1,Inactive,New York,Morning
3,4,Christine Williams,58,Female,IT,5895,2017-09-08,2.0,13,Inactive,Los Angeles,Evening
4,5,Amber Harris,35,Other,IT,4317,2020-02-15,5.0,16,Inactive,New York,Evening

In [5]:
df.isna().sum()

ID                     0
Name                   0
Age                    0
Gender                 0
Department             0
Salary                 0
Joining Date           0
Performance Score    498
Experience             0
Status                 0
Location               0
Session                0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 1000 non-null   int64
 1   Name               1000 non-null   object
 2   Age                1000 non-null   int64
 3   Gender             1000 non-null   object
 4   Department         1000 non-null   object
 5   Salary             1000 non-null   int64
 6   Joining Date       1000 non-null   object
 7   Performance Score  502 non-null    float64
 8   Experience         1000 non-null   int64
 9   Status             1000 non-null   object
 10  Location           1000 non-null   object
 11  Session            1000 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 93.9+ KB

In [7]:
df.shape

(1000, 12)

In [8]:
df.duplicated().sum()

0

In [9]:
df['Name'].duplicated().sum()

8

In [10]:
df['ID'].duplicated().sum()

0

## Correção de Erros

In [11]:
object_columns = df.select_dtypes(include = ['object']).columns

df[object_columns] = df[object_columns].astype(pd.StringDtype())

In [12]:
df['Performance Score'] = df['Performance Score'].fillna(df['Performance Score'].median())

In [13]:
df['Joining Date'] = pd.to_datetime(df['Joining Date'])

In [14]:
df = df[df['Experience'] <= df['Age'] - 14]

## Inserindo Dados ao DataFrame

In [15]:
min(df['Salary']), max(df['Salary']), min(df['Experience']), max(df['Experience'])

(2015, 9993, 1, 20)

In [16]:
df['Age_Group'] = ''
df.loc[(df['Age'] <= 30), 'Age_Group'] = 'Young'
df.loc[(df['Age'] > 30) & (df['Age'] <= 55), 'Age_Group'] = 'Middle-Age'
df.loc[(df['Age'] > 55), 'Age_Group'] = 'High-Age'

In [17]:
df['Experience_Level'] = ''
df.loc[(df['Experience'] <= 5), 'Experience_Level'] = 'Junior'
df.loc[(df['Experience'] > 5) & (df['Experience'] <= 12), 'Experience_Level'] = 'Pleno'
df.loc[(df['Experience'] > 12) & (df['Experience'] <= max(df['Experience'])), 'Experience_Level'] = 'Sênior'

In [18]:
df.head()

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Session,Age_Group,Experience_Level
0,1,Cory Escobar,48,Female,HR,5641,2015-05-03,2.0,16,Active,New York,Night,Middle-Age,Sênior
1,2,Timothy Sanchez,25,Other,Sales,4249,2020-11-09,2.0,11,Inactive,Los Angeles,Evening,Young,Pleno
2,3,Chad Nichols,57,Other,Sales,3058,2019-02-12,3.0,1,Inactive,New York,Morning,High-Age,Junior
3,4,Christine Williams,58,Female,IT,5895,2017-09-08,2.0,13,Inactive,Los Angeles,Evening,High-Age,Sênior
4,5,Amber Harris,35,Other,IT,4317,2020-02-15,5.0,16,Inactive,New York,Evening,Middle-Age,Sênior

In [19]:
df[df.duplicated(subset = 'Name', keep = False)]

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Session,Age_Group,Experience_Level
20,21,Heather Jones,35,Male,Sales,4565,2018-02-07,3.0,9,Active,Chicago,Night,Middle-Age,Pleno
154,155,Larry Johnson,63,Other,IT,5746,2018-11-20,5.0,5,Inactive,New York,Night,High-Age,Junior
319,320,Elizabeth Dudley,58,Other,IT,6233,2024-04-30,1.0,1,Inactive,Los Angeles,Morning,High-Age,Junior
391,392,Heather Jones,32,Female,HR,6309,2023-03-25,5.0,5,Active,Los Angeles,Evening,Middle-Age,Junior
426,427,Patricia Scott,52,Male,HR,2041,2022-11-22,1.0,8,Inactive,Chicago,Evening,Middle-Age,Pleno
537,538,Kimberly Burke,20,Male,IT,2492,2016-09-25,3.0,3,Inactive,Los Angeles,Morning,Young,Junior
613,614,Elizabeth Dudley,64,Other,HR,5152,2019-05-05,3.0,15,Active,New York,Night,High-Age,Sênior
629,630,Patricia Scott,52,Other,Sales,9364,2019-11-05,3.0,5,Active,New York,Evening,Middle-Age,Junior
907,908,Kimberly Burke,59,Female,Sales,5628,2016-10-08,3.0,4,Inactive,Chicago,Evening,High-Age,Junior
977,978,Larry Johnson,24,Other,Sales,5081,2020-10-30,3.0,7,Inactive,New York,Morning,Young,Pleno

## Últimas Consultas após o ETL

In [20]:
df.head()

,ID,Name,Age,Gender,Department,Salary,Joining Date,Performance Score,Experience,Status,Location,Session,Age_Group,Experience_Level
0,1,Cory Escobar,48,Female,HR,5641,2015-05-03,2.0,16,Active,New York,Night,Middle-Age,Sênior
1,2,Timothy Sanchez,25,Other,Sales,4249,2020-11-09,2.0,11,Inactive,Los Angeles,Evening,Young,Pleno
2,3,Chad Nichols,57,Other,Sales,3058,2019-02-12,3.0,1,Inactive,New York,Morning,High-Age,Junior
3,4,Christine Williams,58,Female,IT,5895,2017-09-08,2.0,13,Inactive,Los Angeles,Evening,High-Age,Sênior
4,5,Amber Harris,35,Other,IT,4317,2020-02-15,5.0,16,Inactive,New York,Evening,Middle-Age,Sênior

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 841 entries, 0 to 999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 841 non-null    int64
 1   Name               841 non-null    string
 2   Age                841 non-null    int64
 3   Gender             841 non-null    string
 4   Department         841 non-null    string
 5   Salary             841 non-null    int64
 6   Joining Date       841 non-null    datetime64[ns]
 7   Performance Score  841 non-null    float64
 8   Experience         841 non-null    int64
 9   Status             841 non-null    string
 10  Location           841 non-null    string
 11  Session            841 non-null    string
 12  Age_Group          841 non-null    object
 13  Experience_Level   841 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(4), object(2), string(6)
memory usage: 98.6+ KB

In [22]:
df.duplicated().sum()

0

In [23]:
df.isna().sum()

ID                   0
Name                 0
Age                  0
Gender               0
Department           0
Salary               0
Joining Date         0
Performance Score    0
Experience           0
Status               0
Location             0
Session              0
Age_Group            0
Experience_Level     0
dtype: int64

In [24]:
df.shape

(841, 14)

## Salvando o Conjunto de Dados após o ETL

In [25]:
df.to_csv('Dataset_Performance_Funcionarios.csv', index=False)

# Obrigado!